/* ItineraryBuilder.css */
.itinerary-builder label {
  display: block;
  margin: 10px 0;
}

.itinerary-builder ul {
  padding: 0;
}

.itinerary-builder li {
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
